export DATASET_CACHE_DIR=/ssd1/abhinav/domadapter/data/
export PT_MODELS_CACHE_DIR="/ssd1/abhinav/domadapter/pretrained_models_cache/"
export OUTPUT_DIR="/ssd1/abhinav/domadapter/experiments/"
export PROJECT_ROOT=$PWD
export TOKENIZERS_PARALLELISM=true
export RESULTS_DIR="/ssd1/abhinav/domadapter/results"