export DATASET_CACHE_DIR="/Users/abhinavkashyap/abhi/projects/domadapter/.domadapter_data_cache"
export PT_MODELS_CACHE_DIR="/Users/abhinavkashyap/abhi/projects/domadapter/.domadapter_models_cache"
export OUTPUT_DIR="/Users/abhinavkashyap/abhi/projects/domadapter/.domadapter_outputs"
export PROJECT_ROOT=$PWD
export TOKENIZERS_PARALLELISM=true
export RESULTS_DIR="/Users/abhinavkashyap/abhi/projects/domadapter/.domadapter_results"
